@import 'variables';
@import 'mixins';
@import 'phones';

*{
    margin: 0;
    padding: 0;
}

header{
    #input-nav{
        display: flex;
        justify-content: center;
        gap: 10rem;
        align-items: center;
        margin-top: 2rem;
        .nav-items-1{
            display: flex;
            gap: 0.5rem;
            align-items: center;
            h1{
                color: $color-blue-background;
                font-family: $primary-font-stack;
            }
        }
        .nav-items{
            #nav-search{
                width: 610px;
                height: 45px;
                border-radius: 6px;
                padding-top: 6px;
                padding-right: 10 10 10 40px;
                background-color: #F5F5F5;
                border-color: #F5F5F5;
                #search-btn{
                    cursor: pointer;
                }
            }
        }
        #nav-items-img{
            display: flex;
            gap: 3rem;
            #sails, #heart, #authorize{
                cursor: pointer;
            }

        }

    }
    #catalog{
        margin-top: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .catalog-child{
            display: flex;
            flex-direction: column;
            align-items: center;
            cursor: pointer;
            .catalog-p{
                color: $color-blue-background;
                font-family: $primary-font-stack;
            }
            #sale-btn{
                 background-color: #FFB128;
                width: 170px;
                height: 79px;
                padding-top: 15px;
                padding-bottom: 10px;
                cursor: pointer;
                border-color: #FFB128;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                transition: ease-in-out 0.3s;
                p{
                    color: white;
                }
                #btn-p{
                    color: white;
                    font-weight: 700;
                }
                &:hover{
                    background-color: #0B3954;
                    border-color: #0B3954;
                }
            
            }
        }
    }
}